<section id="port" class="pt-5">
  <div class="container pt-5">
    <h2 class="text-uppercase pt-5 fw-bold fs-1 mb-3 text-center">portfolio component</h2>
          <div class="style d-flex text-center justify-content-center align-content-center mb-5">
            <div class="line me-3 mt-2"></div>
            <i class="fa-solid fa-star me-3 fs-6 "></i>
            <div class="line mt-2"></div>
          </div>
    <div class="row mb-3">
      <div class="col-lg-4 col-md-6 mb-3 col-sm-12 mb-3"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <div class="image position-relative overflow-hidden">
          <img src="./assets/images/2.png" class="rounded-3 w-100" alt="">
          <div class="layer position-absolute rounded-3 top-0 w-100 h-100 start-0 end-0 bottom-0 d-flex justify-content-center align-items-center">
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-3 col-sm-12"  data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
        <div class="image position-relative overflow-hidden">
          <img src="./assets/images/3.png" class="rounded-3 w-100" alt="">
          <div class="layer position-absolute rounded-3 top-0 w-100 h-100 start-0 end-0 bottom-0 d-flex justify-content-center align-items-center">
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-3 col-sm-12" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">
        <div class="image position-relative overflow-hidden">
          <img src="./assets/images/4.png" class="rounded-3 w-100" alt="">
          <div class="layer position-absolute rounded-3 top-0 w-100 h-100 start-0 end-0 bottom-0 d-flex justify-content-center align-items-center">
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-3 col-sm-12"  data-bs-toggle="modal" data-bs-target="#staticBackdrop4">
        <div class="image position-relative overflow-hidden">
          <img src="./assets/images/5.png" class="rounded-3 w-100" alt="">
          <div class="layer position-absolute rounded-3 top-0 w-100 h-100 start-0 end-0 bottom-0 d-flex justify-content-center align-items-center">
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-3 col-sm-12"  data-bs-toggle="modal" data-bs-target="#staticBackdrop5">
        <div class="image position-relative overflow-hidden">
          <img src="./assets/images/6.png" class="rounded-3 w-100 overflow-hidden" alt="">
          <div class="layer position-absolute rounded-3 top-0 w-100 h-100 start-0 end-0 bottom-0 d-flex justify-content-center align-items-center">
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-3 col-sm-12"  data-bs-toggle="modal" data-bs-target="#staticBackdrop6">
        <div class="image position-relative overflow-hidden">
          <img src="./assets/images/7.png" class="rounded-3 w-100" alt="">
          <div class="layer position-absolute rounded-3 top-0 w-100 h-100 start-0 end-0 bottom-0 d-flex justify-content-center align-items-center">
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="overlay d-none position-fixed top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center z-3">
      <div class="protfolioItem position-relative" style="width: 40%;">
        <img src="../assets/images/2.png" class="w-100" alt="">
      </div>
    </div>

  </div>


  <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div  data-bs-dismiss="modal" class="overlay position-fixed top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center z-3">
          <div class="protfolioItem position-relative" style="width: 40%;">
            <img src="../assets/images/2.png" class="w-100" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div  data-bs-dismiss="modal" class="overlay position-fixed top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center z-3">
          <div class="protfolioItem position-relative" style="width: 40%;">
            <img src="../assets/images/3.png" class="w-100" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div  data-bs-dismiss="modal" class="overlay position-fixed top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center z-3">
          <div class="protfolioItem position-relative" style="width: 40%;">
            <img src="../assets/images/4.png" class="w-100" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="staticBackdrop4" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div  data-bs-dismiss="modal" class="overlay position-fixed top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center z-3">
          <div class="protfolioItem position-relative" style="width: 40%;">
            <img src="../assets/images/5.png" class="w-100" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="staticBackdrop5" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div  data-bs-dismiss="modal" class="overlay position-fixed top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center z-3">
          <div class="protfolioItem position-relative" style="width: 40%;">
            <img src="../assets/images/6.png" class="w-100" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="staticBackdrop6" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div  data-bs-dismiss="modal" class="overlay position-fixed top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center z-3">
          <div class="protfolioItem position-relative" style="width: 40%;">
            <img src="../assets/images/7.png" class="w-100" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
