<section id="home">
    <div class="home-age">
      <div class="container pt-5" style="margin-top: 92px; min-height: calc(-112px + 100vh);">
        <div class="contant pt-5 d-flex text-center flex-column justify-content-center align-content-center">
        <div class="image">
          <img src="../assets/images/avataaars.svg" class="mb-4" alt="boy">
        </div>
        <div class="text text-white">
          <h2 class="text-uppercase fw-bold fs-1 mb-3">start Framework</h2>
          <div class="style d-flex text-center justify-content-center align-content-center mb-3 ">
            <div class="line me-3 mt-2"></div>
            <i class="fa-solid fa-star me-3 fs-6"></i>
            <div class="line mt-2"></div>
          </div>
          <div class="paragraph fs-6">Grahic Artist - Web Designer - Illustrator</div>
        </div>
      </div>
      </div>
    </div>
</section>
