<section id="about">
  <div class="container p-5 text-light" style="margin-top: 92px; min-height: calc(-112px + 100vh);">
  <div class="content pt-5 d-flex justify-content-center align-content-center flex-column">
  <h2 class="text-uppercase pt-5 fw-bold fs-1 mb-3 text-light text-center mx-auto">start Framework</h2>
          <div class=" d-flex text-center justify-content-center align-content-center mb-3">
            <div class="line me-3 mt-2"></div>
            <i class="fa-solid fa-star me-3 fs-6 "></i>
            <div class="line mt-2"></div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
            <div class="col-md-6">
              <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
          </div>
        </div>
      </div>
</section>
